main#container > section {
    padding: 40px;
    background: hsl(var(--background));
    border: 1px solid hsl(var(--border));
}

    main#container form .row > * {
        padding-inline: 20px;
    }

main#container form .form-group {
    flex-direction: column;
    flex: 1;
    margin-block: 20px;
}

    main#container form .form-group fieldset {
        background: hsl(var(--input));
    }

main#container form footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
}

    main#container form footer input[type=checkbox] ~ span {
        position: relative;
        bottom: 3px;
        margin-left: 5px;
        font-size: 15px;
        user-select: none;
    }

    main#container form footer input[type=checkbox] + label {
        position: relative;
        width: 18px;
        height: 18px;
        border: 1px solid hsl(var(--border));
        border-radius: 3px;
        cursor: pointer;
        user-select: none;
    }

    main#container form footer input[type=checkbox]:checked + label::after {
        content: '';
        position: absolute;
        inset: 0;
        margin: auto;
        width: 11px;
        height: 11px;
        border-radius: 2px;
        background: var(--primary);
    }

    main#container form footer p {
        font-size: 14px;
    }

        main#container form footer > p > span {
            display: inline-block;
            font-size: 11px;
            opacity: .7;
            text-transform: uppercase;
            max-width: 100%;
            width: 100px;
        }

    main#container form button[type=submit] {
        width: 60px;
        height: 80px;
        margin-left: auto;
        margin-top: 20px;
    }

        main#container form button[type=submit] svg {
            width: 20px;
            height: 20px;
        }

    main#container form input[type=file] + label {
        margin-top: 5px;
    }
