main#container > header {
    position: fixed;
    top: 0;
    right: 33px;
    background: linear-gradient(to bottom, var(--background) 80%, transparent);
    width: calc(100% - 130px - 33px);
    padding-block: 20px;
    z-index: 1;
}

    main#container > header > div {
        display: flex;
        align-items: center;
        gap: 15px;
        height: 60px;
        background: var(--foreground);
        padding-inline: 20px;
        border-radius: 10px;
    }

        main#container > header > div > button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;
            height: 28px;
            border-radius: 8px;
            background: transparent;
            border: none;
            transition: background .3s;
        }

            main#container > header > div > button:hover {
                background: var(--foreground-hover);
                transition: background .3s;
            }

            main#container > header > div > button svg {
                color: var(--text);
                width: 28px;
                height: 28px;
                padding: 6px;
            }

        main#container > header > div > span {
            text-transform: uppercase;
            color: var(--primary);
            font-size: 12px;
            border-inline: 1px solid var(--foreground-hover);
            padding-inline: 15px;
        }

main#container > section {
    margin: 90px auto 20px;
    max-width: 100%;
    width: 800px;
}

main#container form .form-group {
    flex-direction: column;
    flex: 1;
    margin-block: 20px;
}

main#container form footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    main#container form footer input[type=checkbox] ~ span {
        position: relative;
        bottom: 3px;
        margin-left: 5px;
        font-size: 15px;
        user-select: none;
    }

    main#container form footer input[type=checkbox] + label {
        position: relative;
        width: 18px;
        height: 18px;
        border: 1px solid var(--input-border);
        border-radius: 3px;
        cursor: pointer;
        user-select: none;
    }

    main#container form footer input[type=checkbox]:checked + label::after {
        content: '';
        position: absolute;
        inset: 0;
        margin: auto;
        width: 11px;
        height: 11px;
        border-radius: 2px;
        background: var(--primary);
    }

    main#container form footer p {
        font-size: 14px;
    }

        main#container form footer > p > span {
            display: inline-block;
            font-size: 11px;
            opacity: .7;
            text-transform: uppercase;
            max-width: 100%;
            width: 100px;
        }

    main#container form button[type=submit] {
        width: 60px;
        height: 80px;
        margin-left: auto;
        margin-top: 20px;
    }

        main#container form button[type=submit] svg {
            width: 20px;
            height: 20px;
        }

    main#container form input[type=file] + label {
        margin-top: 5px;
    }
