main#container > section > div {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

    main#container > section > div > main {
        flex: 1;
        background: hsl(var(--background));
        border: 1px solid hsl(var(--border));
        border-radius: 10px;
        padding: 60px 40px;
        position: sticky;
        top: 85px;
    }

            main#container > section > div > main > p {
                font-size: 15px;
            }

                main#container > section > div > main > p > span {
                    display: inline-block;
                    font-size: 12px;
                    opacity: .7;
                    text-transform: uppercase;
                    max-width: 100%;
                    width: 100px;
                }

#history {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    width: 500px;
    padding: 30px;
    padding-top: 0;
}

    #history > p {
        background: hsl(var(--background));
        border: 1px solid hsl(var(--border));
        text-align: center;
        border-radius: 3px;
        font-size: 13px;
        padding: 3px 10px;
    }

.equipments-to-bind > svg {
    display: flex;
    justify-content: center;
    transform: rotate(180deg);
    margin-block: 10px;
    margin-inline: auto;
}

    .selectize-input {
        margin-block: 20px 0 !important;
    }