main#container > section {
    padding: 40px;
    background: hsl(var(--background));
    border: 1px solid hsl(var(--border));
}

main#container form .row {
}

    main#container form .row > * {
        padding-inline: 20px;
    }

main#container form .form-group {
    flex-direction: column;
    flex: 1;
    margin-block: 20px;
}

    main#container form .form-group fieldset {
        background: hsl(var(--input));
    }

main#container form footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-inline: 10px;
}

main#container form > footer > button {
    width: 60px;
    height: 80px;
    margin-left: auto;
    margin-top: 20px;
}

    main#container form > footer > button svg {
        width: 20px;
        height: 20px;
    }

.alert {
    color: white !important;
    font-size: 15px;
}
