main#container > section {
    display: flex;
    flex-direction: column;
    width: calc(100% - 17px);
}

    main#container > section > main {
        padding: 20px;
        background: hsl(var(--background));
        border: 1px solid hsl(var(--border));
    }

    main#container > section > header {
        display: flex;
        gap: 3px;
        margin-bottom: 3px;
    }

        main#container > section > header > button {
            position: relative;
            padding: 10px 50px 10px 20px;
            border: 1px solid hsl(var(--border));
            background: hsl(var(--background));
            font-size: 13px;
            transition: background .3s;
        }

            main#container > section > header > button:last-child {
                margin-left: auto;
            }

            main#container > section > header > button.current {
                color: var(--primary);
                pointer-events: none;
                user-select: none;
                font-weight: bold;
            }

            main#container > section > header > button:hover {
                background: hsl(var(--accent));
                color: hsl(var(--accent-foreground));
                transition: background .3s;
            }

            main#container > section > header > button::after {
                display: flex;
                align-items: center;
                justify-content: center;
                content: attr(data-quantity);
                position: absolute;
                right: 10px;
                top: 0;
                height: 100%;
                font-size: 11px;
            }

    main#container > section h4 {
        font-size: 17px;
    }

.accordion > .accordion-item > .accordion-header .count-rows {
    font-size: 13px;
    margin-left: auto;
    opacity: .7;
}