<div class="importDataContainer">
    <label class="btn-secondary" for="file">
        <span> Importar dados </span>
    </label>
    <button class="btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18" /><path d="m6 6 12 12" /></svg>
    </button>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const fileInput = document.querySelector("input[type=file]")
        fileInput.addEventListener("change", () => {
            if (fileInput.files.length > 0) {
                const nomeArquivo = fileInput.files[0].name;
                document.querySelector('.importDataContainer span').textContent = nomeArquivo;
                document.querySelector('.importDataContainer').classList.add("hasFile")
            } else {
                document.querySelector('.importDataContainer span').textContent = 'Importar dados';
                document.querySelector('.importDataContainer').classList.remove("hasFile")
            }
        })

        document.querySelector(".importDataContainer button").addEventListener("click", function() {
            fileInput.value = ""
            this.closest(".importDataContainer").classList.remove("hasFile")
            document.querySelector('.importDataContainer span').textContent = 'Importar dados';
        })
    })
</script>
