main#container > header {
    position: fixed;
    top: 0;
    right: 33px;
    background: linear-gradient(to bottom, var(--background) 80%, transparent);
    width: calc(100% - 130px - 33px);
    padding-block: 20px;
    z-index: 1;
}

    main#container > header > div {
        display: flex;
        align-items: center;
        gap: 15px;
        height: 60px;
        background: var(--foreground);
        padding-inline: 20px;
    }

    main#container > header > .searchbar {
        border-radius: 10px;
    }

        main#container > header > .searchbar > .btn-default {
            margin-left: auto;
        }

main#container > section {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 17px);
    gap: 40px;
    margin-block: 90px 20px;
}

main#contaier table > tbody td > span {
    width: 120px;
    height: 40px;
    margin-right: 10px;
}

main#contaier table > tbody > tr:hover > td > div {
    visibility: visible;
}

main#container table th:last-child {
    width: 120px;
    border: none;
}

main#container table button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: transparent;
    border: none;
    transition: background .3s;
}

    main#container table button:hover {
        background: var(--foreground-hover);
        transition: background .3s;
    }

    main#container table button svg {
        color: var(--text);
        width: 16px;
    }

main#container table td > div {
    display: flex;
    align-items: center;
    gap: 4px;
    /*                visibility: hidden;*/
}
