main#container > section {
    display: flex;
    flex-direction: column;
    width: calc(100% - 17px);
}

    main#container > section > main {
        padding: 20px;
        background: hsl(var(--background));
        border: 1px solid hsl(var(--border));
    }
