.equipmentActions {
    display: flex;
    gap: 15px;
    margin-left: auto;
}

    .equipmentActions > button {
        width: fit-content;
        white-space: nowrap;
        transition: filter .3s;
        color: hsl(var(--foreground));
    }

        .equipmentActions > button:not([data-bs-toggle]) {
            background: hsl(var(--background));
            border: 1px solid hsl(var(--border));
            transition: background .3s;
        }

            .equipmentActions > button:not([data-bs-toggle]):hover {
                background: hsl(var(--accent));
                color: hsl(var(--accent-foreground));
                transition: background .3s;
            }

        .equipmentActions > button[data-bs-toggle] {
            background: hsl(var(--destructive));
            color: white;
        }

            .equipmentActions > button:hover[data-bs-toggle] {
                filter: brightness(85%);
                transition: filter .3s;
            }

                .equipmentActions > button[data-bs-toggle] > svg * {
                    color: white;
                }

    .equipmentActions > button > svg * {
        color: hsl(var(--foreground));
    }

#addTag {
    background: hsl(var(--background));
    font-size: 13px;
    padding: 3px 8px;
    border-radius: 3px;
    font-size: 13px;
    transition: background .3s;
}

    #addTag:hover {
        background: hsl(var(--accent));
        transition: background .3s;
    }

    #addTag > div {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        user-select: none;
    }

    #addTag svg {
        width: 14px;
        height: 14px;
    }
