@model SESOPtracker.Models.Entities.Equipamento

<div id="addTag">
    <fieldset hidden>
        <input type="text" name="tag" />
    </fieldset>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
        </svg>
        Adicionar tag
    </div>
</div>
<hr class="hl-vertical" />
<div class="equipmentActions">
    <button class="btn-secondary" onclick="location.href='@Url.Action("Edit", "Equipamentos", new { id = Model.patrimonio })'">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil-icon lucide-pencil"><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" /><path d="m15 5 4 4" /></svg>
        Editar
    </button>
    <button class="btn-default" data-bs-toggle="modal" data-bs-target="#deleteEquipment">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash2-icon lucide-trash-2"><path d="M3 6h18" /><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" /><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" /><line x1="10" x2="10" y1="11" y2="17" /><line x1="14" x2="14" y1="11" y2="17" /></svg>
        Excluir
    </button>
</div>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		if (document.getElementById("addTag") != null) {
			document.getElementById("addTag").addEventListener("click", function() {
				this.querySelector("fieldset").removeAttribute("hidden")
				this.querySelector("div").setAttribute("hidden", "hidden")
			})
		}
	})
</script>
