.accordion {
    width: 100%;
}

    .accordion > .accordion-item {
        background: transparent;
        border: none;
    }

        .accordion > .accordion-item > .accordion-header {
            margin-bottom: 20px;
        }

            .accordion > .accordion-item > .accordion-header > button {
                background: hsl(var(--background));
                color: hsl(var(--foreground));
                border-radius: 5px !important;
                box-shadow: none;
                z-index: 0;
                transition: background .3s;
            }

                .accordion > .accordion-item > .accordion-header > button::after {
                    filter: invert(100%) saturate(0%);
                    margin-left: 0;
                    margin-left: 20px;
                }

                .accordion > .accordion-item > .accordion-header > button:hover {
                    background: hsl(var(--accent));
                    color: hsl(var(--accent-foreground));
                    transition: background .3s;
                }

                .accordion > .accordion-item > .accordion-header > button:focus {
                    box-shadow: none;
                    outline: none;
                }