.btn-default {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
    height: 43px;
    color: black;
    border: none;
    background: var(--primary);
    border-radius: 5px;
    padding-inline: 20px;
    transition: background .3s;
}

.btn-default:not([disabled]):hover {
    color: black;
    background: var(--primary-foreground);
    transition: background .3s;
}

.btn-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
    height: 43px;
    color: hsl(var(--foreground));
    border: none;
    background: hsl(var(--background));
    border: 1px solid hsl(var(--border));
    border-radius: 5px;
    padding-inline: 20px;
    transition: background .3s;
}

    .btn-secondary:not([disabled]):hover {
        background: hsl(var(--accent));
        color: hsl(var(--accent-foreground));
        transition: background .3s;
    }

.btn-default,
.btn-default *,
.btn-secondary,
.btn-secondary * {
    font-size: 13px;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    color: black;
}

    .btn-default > svg,
    .btn-secondary > svg {
        width: 15px;
        height: 15px;
    }

    .btn-secondary > svg {
        color: hsl(var(--accent)); 
    }

.btn-default[disabled],
.btn-secondary[disabled],
.btn-default[disabled] *,
.btn-secondary[disabled] * {
    cursor: not-allowed;
    filter: brightness(60%);
    pointer-events: none;
}

.btn-primary:has(> svg:only-child),
.btn-secondary:has(> svg:only-child) {
    padding: 0;
    aspect-ratio: 1 / 1;
}


.btn-ghost {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    transition: background .3s;
}

    .btn-ghost:hover {
        background: hsl(var(--accent));
        transition: background .3s;
    }

    .btn-ghost svg {
        width: 28px;
        height: 28px;
        padding: 6px;
    }
