.dt-layout-row {
    margin: 0 !important;
}

.dt-search {
    display: none !important;
}

.dt-info {
    font-size: 13px;
}

/*.dt-type-numeric {
    text-align: left !important;
}*/

.dt-paging-button {
    width: 45px;
    height: 45px;
    border: 1px solid hsl(var(--border)) !important;
    background: hsl(var(--background)) !important;
    color: hsl(var(--foreground)) !important;
    font-size: 13px;
    margin-top: 20px !important;
    transition: background .3s;
}

    .dt-paging-button.current {
        background: hsl(var(--accent)) !important;
    }

    .dt-paging-button:not(.current):hover {
        background: hsl(var(--accent)) !important;
        transition: background .3s;
    }

.dt-paging-button.disabled {
    display: none !important;
}
