a.equipamento {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 280px;
    background: hsl(var(--background));
    border: 1px solid hsl(var(--border));
    border-radius: 5px;
    padding: 20px;
    text-decoration: none;
}

    a.equipamento > header {
        display: flex;
        align-items: center;
        gap: 10px;
    }

        a.equipamento > header > span {
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }

        a.equipamento > header > p {
            font-size: 14px;
        }

    a.equipamento > span {
        display: block;
        padding-block: 7px;
        border-block: 1px solid hsl(var(--border));
        font-size: 13px;
        margin-block: 10px;
    }

    a.equipamento > h3 {
        margin-top: 15px;
        color: hsl(var(--foreground));
    }

        a.equipamento > div > span:first-child {
            font-size: 10px;
            text-transform: uppercase;
            margin-right: 5px;
        }

        a.equipamento > div > span:last-child {
            font-size: 14px;
        }

    a.equipamento > footer {
        margin-top: auto;
        padding-top: 20px;
        border-top: 1px solid hsl(var(--border));
    }

        a.equipamento > footer > p {
            font-size: 14px;
        }