.searchbar fieldset input {
    padding-inline: 50px 10px;
}

fieldset {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 43px;
    border-radius: 3px;
    position: relative;
    border: 1px solid hsl(var(--border));
}

    fieldset:has(input, textarea) {
        background: hsl(var(--input));
    }

    fieldset > select {
        position: relative;
        -webkit-appearance: none;
        cursor: pointer;
        padding-inline: 20px 40px !important;
        z-index: 1;
        color: hsl(var(--foreground));
    }

fieldset:has(select)::after {
    content: "⯆";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    inset-block: 0;
    margin-block: auto;
    font-size: 9px;
    width: 40px;
    height: 90%;
}

    fieldset > input,
    fieldset > select,
    fieldset > textarea {
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding-inline: 20px;
        background: transparent !important;
        border: none;
        font-size: 14px;
    }

        fieldset > select + input {
            position: absolute;
            visibility: hidden;
        }

    fieldset > input:read-only,
    fieldset > textarea:read-only {
        opacity: .5;
        cursor: default;
        user-select: none;
    }

    fieldset > svg {
        position: absolute;
        left: 16px;
    }

        fieldset select option {
            color: hsl(var(--foreground));
            background: hsl(var(--background));
        }

    fieldset button:not(:read-only):focus,
    fieldset select:not(:read-only):focus,
    fieldset input:not(:read-only):focus,
    fieldset textarea:not(:read-only):focus {
        outline: none !important;
        box-shadow: none !important;
        border-bottom: 2px solid var(--primary) !important;
        margin-bottom: -2px !important;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    fieldset button:read-only:focus,
    fieldset select:read-only:focus,
    fieldset input:read-only:focus,
    fieldset textarea:read-only:focus {
        box-shadow: none;
        outline: none;
    }

    fieldset button:hover,
    fieldset select:hover,
    fieldset input:hover,
    fieldset textarea:hover {
        box-shadow: none;
        outline: none;
    }

        fieldset .situacao-select option {
            padding-left: 30px;
        }

input:-webkit-autofill,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus {
    transition: background-color 0s 1000000s, color 0s 1000000s !important;
}

label:has(+ fieldset > input[data-val-required]),
label:has(+ fieldset > select[data-val-required]) {
    position: relative;
}

label:has(+ fieldset > input[data-val-required])::after,
label:has(+ fieldset > select[data-val-required])::after {
    content: "*";
    position: absolute;
    inset-block: 0;
    margin-block: auto;
    color: hsl(var(--destructive));
    transform: translateY(3px) translateX(4px);
}

.form-group {
    position: relative;
}

    .form-group:has(.field-validation-error) fieldset {
        outline: 1px solid hsl(var(--destructive));
        outline-offset: 2px;
    }

        .field-validation-error {
            position: absolute;
            top: -6px;
            right: 0;
            display: block;
            margin-top: 5px;
            font-size: 15px;
            color: hsl(var(--destructive));
        }