.selectize-input {
    margin-block: 20px 0 !important;
    background: hsl(var(--input)) !important;
    border: 1px solid hsl(var(--border)) !important;
    height: 43px;
    border-radius: 3px;
    padding-inline: 20px !important;
    box-shadow: none !important;
}

    .selectize-input::placeholder {
        font-size: 14px !important;
    }

    .selectize-input > input {
        transform: translateY(3px);
        font-size: 15px !important;
        color: hsl(var(--foreground)) !important;
    }

    .selectize-input > .item {
        margin: 0 !important;
        transform: translateY(3px);
    }

.selectize-control {
    margin-block: 0 !important;
}

.selectize-dropdown {
    background: hsl(var(--background)) !important;
    border: 1px solid hsl(var(--border)) !important;
    margin: 0 !important;
}

    .selectize-dropdown .option {
        padding: 20px !important;
        margin-block: 0 !important;
    }

    .selectize-dropdown .active {
        background: hsl(var(--accent)) !important;
        color: hsl(var(--foreground)) !important;
    }

        .selectize-dropdown .highlight {
            color: var(--primary);
        }

        .selectize-dropdown-content {
            margin-block: 0 !important;
        }