table {
    padding: 5px;
}

    table > thead > tr {
        position: sticky;
        top: 64px;
        z-index: 2;
        height: 40px;
        vertical-align: middle;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        z-index: 1;
    }

table th {
    padding-block: 40px;
    background: hsl(var(--input)) !important;
    color: hsl(var(--foreground)) !important;
    font-weight: normal !important;
    padding: 0 30px !important;
    border: none;
    font-size: 13px;
}

    table th:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    table th:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }



table > tbody::before {
    line-height: 10px;
    content: '.';
    color: hsl(var(--background));
    display: block;
}

    table > tbody > tr {
        background: hsl(var(--background));
        cursor: pointer;
        font-size: 15px;
    }

        table > tbody > tr:hover {
            filter: brightness(130%);
        }


        table > tbody > tr:nth-child(2n+1) {
            background: var(--table-row);
        }

        table > tbody > tr > td {
            background: transparent !important;
            padding: 20px 30px !important;
            border: none;
            color: hsl(var(--foreground)) !important;
        }

            table > tbody > tr > td > span {
                display: inline-block;
                margin-right: 10px;
            }
