main#container > section {
    display: flex;
    flex-direction: column;
    width: calc(100% - 17px);
}

    main#container > section > main {
        padding: 20px;
        background: hsl(var(--background));
        border: 1px solid hsl(var(--border));
    }

    table > tbody td:nth-child(3) {
        text-transform: uppercase;
    }

    table > tbody td > span {
        width: 12px;
        height: 12px;
        margin-right: 10px;
        border-radius: 50%;
    }
